# Python and Django
__pycache__/
*.pyc
db.sqlite3
.venv/
venv/
env/

# Media and Uploads
media/
media/*

# Heavy Machine Learning Models (GitHub limits files to 100MB)
ml_models/*.h5
ml_models/*.pkl
ml_models/faiss_agri_index/

# Environment Variables
.env

# Notebooks and Data
.ipynb_checkpoints/
*.csv
*.tsv
*.xlsx
*.zip
*.tar.gz
*.json
*.parquet
*.h5
*.pkl
